* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
}

.btn {
  background: #ffc23e;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}
.btn:hover {
  border: 1px solid #ffc23e;
  color: #ffc23e;
  background: transparent;
}
